# Byte-compiled files
__pycache__/
*.py[cod]

# Virtual environments
env/
venv/
.venv/

# Distribution / packaging
build/
dist/
*.egg-info/

# Logs
*.log

# Environment variables
.env

# IDE/editor folders
.vscode/
.idea/
